html {
    background-color: blanchedalmond;
}
body {
    background-color: rgb(235, 191, 125);
    padding: 5px;
    border: 2px solid rgb(129, 79, 14);
    margin: auto 30%;
}
p {
    color: rgb(126, 98, 226);
    text-align: center;
}
/* try idea with hover hyperlink */